.st{
  display: flex;
}
.propo{
  width: 700px;
  margin-right: 20px;
  margin-top: 20px;
}
.contact{
  background-color: rgb(241, 233, 233);
  padding: 15px;
  width: 50%;
  margin-top: 20px;
}

.champ{
  width: 48%;
  height: 20px;
  border: 1px solid rgb(255, 115, 0);
}

.sujet{
  width: 98%;
  height: 20px;
  margin-top: 15px;
  border: 1px solid rgb(255, 115, 0);
}
.message{
  border: 1px solid rgb(255, 115, 0);  
}

.button{
  position: relative;
  left: 250px;
  background-color: rgb(255, 115, 0);
  color: white;
  border-radius: 10px ;
  height: 35px;
}



  